<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Nous contacter</h2>
      <p>Remplissez le formulaire ci-dessous et nous prendrons contact avec vous.</p>

        <%= simple_form_for(@message, url: create_message_path) do |f| %>
          <%= notice %>
          <%= @message.errors.full_messages.join(', ') %>

          <%= f.input :name, placeholder: 'Nom' %>
          <%= f.input :email, placeholder: 'Courriel' %>
          <%= f.input :phone_number, placeholder: 'Téléphone' %>
          <%= f.input :address, placeholder: 'Adresse' %>
          <%= f.input :dates, placeholder: 'Dates souhaitées' %>
          <%= f.input :body, label: 'Message', as: :text, :input_html => { :cols => 50, :rows => 10 }, placeholder: "Message" %>
          <%= f.submit 'Send' %>
        <% end %>
    </div>
  </div>
</div>
