<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path do %>
    <%= image_tag 'gite.jpg', class: "avatar" %>
    <% end %>
  </a>
  <!-- Right Navigation -->

  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div class="dropdown">
       <%= link_to "Disponibilités", dispo_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <a href="" class="navbar-wagon-item navbar-wagon-link " data-toggle="dropdown">Tarifs</a>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Tarifs à la semaine", tarifs_path %></li>
          <li><%= link_to "Tarifs courts séjours", tarifscs_path %></li>
          <li><%= link_to "Charges", charges_path %></li>
          <li><%= link_to "Conditions générales de vente", "/cgv2013.pdf" %></li>
        </ul>
    </div>
    <div class="dropdown">
    <a href="" class="navbar-wagon-item navbar-wagon-link" data-toggle="dropdown">Visiter</a>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Le gîte", gite_path %></li>
          <li><%= link_to "Le salon/cuisine", salon_path%></li>
          <li><%= link_to "La chambre", chambre_path %></li>
          <li><%= link_to "La salle d'eau", sdb_path %></li>
          <li><%= link_to "La mezzanine", mezzanine_path %></li>
        </ul>
      </div>
    <div class="dropdown">
    <a href="" class="navbar-wagon-item navbar-wagon-link" data-toggle="dropdown">Infos pratiques</a>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Situation", situation_path %></li>
          <li><%= link_to "Le salon/cuisine", salon_path%></li>
          <li><%= link_to "La chambre", chambre_path %></li>
          <li><%= link_to "La salle d'eau", sdb_path %></li>
          <li><%= link_to "La mezzanine", mezzanine_path %></li>
        </ul>
      </div>

      <%= link_to "Livre d'or", reviews_path, class: "navbar-wagon-item navbar-wagon-link"  %>
      <%= link_to "Nous contacter", contacts_path, class: "navbar-wagon-item navbar-wagon-link"  %>
   <!--  <a href="" class="navbar-wagon-item navbar-wagon-link">Nous contacter</a> -->

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <a href="http://www.gites-finistere.com/fr/index.php" target="_blank">
        <%= image_tag 'logo1.gif', class: "avatar" %>
      </a>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Disponibilités", dispo_path %></li>
        <li><a href="#">Tarifs</a></li>
        <li><a href="#">Visiter</a></li>
        <li><a href="#">Nous contacter</a></li>
      </ul>
    </div>
  </div>
</div>
