<%= render 'shared/navbar' %>
<div class="container">

    <%= image_tag 'gite.jpg', class: "photo-gite" %>
<div class="hidden-xs">
<div class="blog-container">
  <div class="blog-body">
    <div class="blog-title">
      <h1>Le gîte</h1>
    </div>
    <div class="blog-summary">
       <p>Longère récemment rénovée avec des matériaux écologiques, classée 3 épis par Gite de France et adaptée «&nbsp;Tourisme et Handicap&nbsp;» pour les 4 familles de handicaps (moteur, auditif, visuel et mental).</p>
      <p>Langues parlées&nbsp;: anglais, allemand, notions de LSF, notions de breton</p>
      <p>Rez-de-chaussée&nbsp;: salon/cuisine, salle d’eau, une chambre un lit 2 personnes</p>
      <p>Mezzanine : deux lits une personne</p>
      <p>Chauffage par pompe à chaleur</p>
      <p>Lave-linge, TV avec TNT, lecteur DVD, micro-ondes</p>
      <p>Terrasse avec salon, barbecue</p>
      <p>Possibilité de lit parapluie</p>
      <p>Lits faits à l’arrivée, linge de toilette fourni</p>
      <p>Accès internet ADSL (wifi ou éthernet) gratuit sur demande</p>
      <p>Situé sur une ancienne ferme proche du centre bourg, ce gîte chaleureux allie tranquillité et commodité à seulement 7km de la mer. Idéal pour une famille de 4 personnes.</p>
    </div>
  </div>
</div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
   <div class="container">
      <p id="chambre">Longère récemment rénovée avec des matériaux écologiques, classée 3 épis par Gite de France et adaptée «&nbsp;Tourisme et Handicap&nbsp;» pour les 4 familles de handicaps (moteur, auditif, visuel et mental).</p>
      <p>Langues parlées&nbsp;: anglais, allemand, notions de LSF, notions de breton</p>
      <p>Rez-de-chaussée&nbsp;: salon/cuisine, salle d’eau, une chambre un lit 2 personnes</p>
      <p>Mezzanine : deux lits une personne</p>
      <p>Chauffage par pompe à chaleur</p>
      <p>Lave-linge, TV avec TNT, lecteur DVD, micro-ondes</p>
      <p>Terrasse avec salon, barbecue</p>
      <p>Possibilité de lit parapluie</p>
      <p>Lits faits à l’arrivée, linge de toilette fourni</p>
      <p>Accès internet ADSL (wifi ou éthernet) gratuit sur demande</p>
      <p>Situé sur une ancienne ferme proche du centre bourg, ce gîte chaleureux allie tranquillité et commodité à seulement 7km de la mer. Idéal pour une famille de 4 personnes.</p>
    </div>
</div>

  <div class="bs-container">
    <li class="bs-item-gite"><%= image_tag 'beach.png', class: "avatar" %> 7km</li>
    <li class="bs-item-gite"><%= image_tag 'kitesurf.png', class: "avatar" %> 7km</li>
    <li class="bs-item-gite"><%= image_tag 'kayak.png', class: "avatar" %> 7km</li>
    <li class="bs-item-gite"><%= image_tag 'angler.png', class: "avatar" %> 7km</li>
    <li class="bs-item-gite"><%= image_tag 'diving.png', class: "avatar" %> 14km</li>
    <li class="bs-item-gite"><%= image_tag 'rackets.png', class: "avatar" %> 1km</li>
    <li class="bs-item-gite"><%= image_tag 'dressage.png', class: "avatar" %> 7km</li>
    <li class="bs-item-gite"><%= image_tag 'golfer.png', class: "avatar" %> 10km</li>
    <li class="bs-item-gite"><%= image_tag 'hiker.png', class: "avatar" %>sur place</li>
    <li class="bs-item-gite"><%= image_tag 'cyclist.png', class: "avatar" %>sur place</li>
    <li class="bs-item-gite"><%= image_tag 'train.png', class: "avatar" %>sur place</li><li class="bs-item-gite"><%= image_tag 'shop.png', class: "avatar" %>500m</li>
  </div>
  <div class="gdf">
    <%= image_tag 'logo1.gif', id:"gdf-img" %>
    <p>48 rue Jacques Anquetil – 29000 Quimper – tel : 02.98.64.20.20</br>
    <a href="mailto:reservation@gites-finistere.com">reservation@gites-finistere.com</a></br>
    <a href="http://www.gites-finistere.com/fr/index.php" target="_blank">Gîtes de France Finistère</a></p>


  </div>
</div>
