<%= render 'shared/navbar' %>
<div class="container" id="form">
<div align="center">
  <h3>Nous contacter</h3>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, label: "Votre nom", :required => true %>
    <%= f.input :email, label: "Votre adresse courriel", :required => true %>
    <%= f.input :message, label: "Votre message", :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
</div>
