<%= render 'shared/navbar' %>
<div class="container" id="form">
<%= link_to "Ajouter votre commentaire", new_review_path, class: "btn btn-primary"  %>
<h2 class="text-center">Livre d'or</h2>
<%= paginate @reviews %>
  <% @reviews.each do |review| %>
    <div class="blog-container-tarif">
      <div class="blog-body-tarif">
        <p><%= review.content %></p>
        <i><p><%= review.name %> - <%= review.location %> - <%= review.date %></p></i>
      </div>
    </div>
  <% end %>
</div>


